.bookingModal {
  > #warning-snackbar {
    background: "red";
  }
}

.bookingModalCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  bgcolor: "background.paper";
  border: "2px solid #000";
  boxshadow: 24;
  p: 4;
}

.bookingModalCardActions {
  flex-direction: row-reverse;
}

.bookingModalHeaderContainer {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  justify-content: space-between;
}

.slot {
  width: 400px;
  max-height: 50px;
  margin-bottom: 8px;
  flex: 1 1;
  display: flex;
}

.slotHeader {
  justify-content: left;
  align-items: left;
  text-align: left;
}
